In [1]:
print(2 + 4)
print("Hello")

6
Hello

In [2]:
#Вывод сообщения на консоль
print("Hello World")

Hello World

In [3]:
print("Full name:", "Tom", "Smith")

Full name: Tom Smith

In [4]:
name = input("Введите имя: ")
print("Привет", name)

Введите имя: Андрей
Привет Андрей

In [5]:
print("Ключевые слова: and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, None, nonlocal, not, or, pass, raise, return, True, try, while, with, yield")

Ключевые слова: and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, None, nonlocal, not, or, pass, raise, return, True, try, while, with, yield

In [6]:
user_id = "12tomsmith"
print(type(user_id))

<class 'str'>

In [7]:
print(6 + 2)

8

In [8]:
print(6 - 2)

4

In [9]:
print(6 / 2)

3.0

In [10]:
print(7 // 2)

3

In [11]:
7 // 2

3

In [12]:
print(6 ** 2)

36

In [13]:
print(9 % 2)

1

In [14]:
print("Приоритеты операций: **, *, /, //, %, +, -")

Приоритеты операций: **, *, /, //, %, +, -

In [15]:
print(round(5.5345341, 3))

5.535

In [16]:
x = 0b0100
a = 0o0100
y = 0x0a
print(x, a, y)

4 64 10

In [17]:
print("{0} {0:08b} {0:04o} {0:04x}".format(y))

10 00001010 0012 000a

In [18]:
age = 23
weight = 65
result = age > 20 and weight == 65
print(result)

True

In [19]:
name = "Tom"
surname = 'Smith'
print(name, surname)
print(name + " " + surname)

Tom Smith
Tom Smith

In [20]:
print("Пришло время действовать \nСогласен?")

Пришло время действовать
Согласен?

In [21]:
print("name \tsurname")

name 	surname

In [22]:
print("Cafe \"Central Park\"")

Cafe "Central Park"

In [23]:
str1 = "Tom"
str2 = 'tom'
print(str1.lower() == str2.lower())

True

In [24]:
str3 = 'andrey'
print(str3.upper())

ANDREY

In [25]:
age = 18
if age >= 21:
    print("Доступ разрешён")
elif age >=18:
    print("Доступ частично разрешён")
else:
    print("Вход запрещён")

Доступ частично разрешён

In [26]:
#Программа обменный пункт

usd = 60
euro = 70

money = int(input("Введите сумму, которую вы хотите обменять: "))
currency = int(input("Укажите код валюты (доллары - 400, евро - 401): "))

if currency == 400:
    cash = round(money / usd, 2)
    print("Валюта: доллары США")
elif currency == 401:
    cash = round(money / euro, 2)
    print("Валюта: евро")
else:
    cash = 0
    print("Неизвестная валюта")
    
print("К получению:", cash)

Введите сумму, которую вы хотите обменять: 120000
Укажите код валюты (доллары - 400, евро - 401): 400
Валюта: доллары США
К получению: 2000.0

In [27]:
choice = "y"

while choice.lower() == "y":
    print("Привет")
    choice = input("Для продолжения нажмите Y, а для выхода любую другую клавишу: ")

print("Работа программы завершена")

Привет
Для продолжения нажмите Y, а для выхода любую другую клавишу: y
Привет
Для продолжения нажмите Y, а для выхода любую другую клавишу: y
Привет
Для продолжения нажмите Y, а для выхода любую другую клавишу: n
Работа программы завершена

In [28]:
# Программа по вычислению факториала

number = int(input("Введите число: "))
i = 1
factorial = 1
while i <= number:
    factorial *= i
    i += 1
print("Факториал числа", number, "равен", factorial)

Введите число: 5
Факториал числа 5 равен 120

In [29]:
# Программа по вычислению факториала

number = int(input("Введите число: "))
factorial = 1
for i in range(1, number + 1):
    factorial *= i
    
print("Факториал числа", number, "равен", factorial)

Введите число: 4
Факториал числа 4 равен 24

In [30]:
print(list(range(10)))
print(list(range(10, 20)))
print(list(range(10, 20, 2)))
print(list(range(20, 10, -1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [31]:
for i in range (5):
    print(i, end = " ")

0 1 2 3 4

In [32]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i*j, end="\t")
    print("\n")

1	2	3	4	5	6	7	8	9

2	4	6	8	10	12	14	16	18

3	6	9	12	15	18	21	24	27

4	8	12	16	20	24	28	32	36

5	10	15	20	25	30	35	40	45

6	12	18	24	30	36	42	48	54

7	14	21	28	35	42	49	56	63

8	16	24	32	40	48	56	64	72

9	18	27	36	45	54	63	72	81

In [33]:
# Программа обменный пункт

print("Для выхода нажмите Y")

while True:
    data = input("Введите сумму для обмена: ")
    if data.lower() == "y":
        break
    money = int(data)
    if money < 0:
        print("Сумма должна быть положительной!")
        continue
    cash = round(money / 60)
    print("К выдаче", cash, "долларов")
    
print("Работа обменного пункта завершена")

Для выхода нажмите Y
Введите сумму для обмена: 120000
К выдаче 2000 долларов
Введите сумму для обмена: 23000
К выдаче 383 долларов
Введите сумму для обмена: y
Работа обменного пункта завершена

In [34]:
def say_hello():
    print("Hello")
    
say_hello()
say_hello()

Hello
Hello

In [35]:
def say_hello(name):
    print("Hello,", name)
    
say_hello("Andrey")

Hello, Andrey

In [36]:
def say_hello(name = "Tom"):
    print("Hello,", name)
    
say_hello()
say_hello("Andrey")

Hello, Tom
Hello, Andrey

In [37]:
def display_info(name, age):
    print("Name:", name, "\t", "Age:", age)
    
display_info("Andrey", 23)
display_info(age=19, name="Sasha")

Name: Andrey 	 Age: 23
Name: Sasha 	 Age: 19

In [38]:
def sum(*params):
    result = 0
    for i in params:
        result += i
    return result

print(sum(4,9,5))

18

In [39]:
def create_default_user():
    name = "Tom"
    age = 33
    return name, age

user_name, user_age = create_default_user()
print("Name:", user_name, "\t Age:", user_age)

Name: Tom 	 Age: 33

In [40]:
def main():
    say_hello("Andrey")
    usd_rate = 60
    money = 160000
    result = exchange(usd_rate, money)
    print("К выдаче", result, "долларов")
    
def say_hello(name):
    print("Hello,", name)
    
def exchange(usd_rate, money):
    result = round(money/usd_rate, 2)
    return result

main()

Hello, Andrey
К выдаче 2666.67 долларов

In [41]:
name = "Tom"

def say_bye():
    global name
    name = "Bob"
    print("Good bye", name)
    
say_bye()    
print(name)

Good bye Bob
Bob

In [42]:
PI = 3.14
 
# вычисление площади круга
def get_circle_square(radius):
    print("Площадь круга с радиусом", radius, "равна", PI * radius * radius)
    
get_circle_square(50)

Площадь круга с радиусом 50 равна 7850.0

In [43]:
try:
    number = int(input("Введите число: "))
    print("Введённое число:", number)
except:
    print("Преобразование прошло неудачно")
print("Завершение программы")

Введите число: re
Преобразование прошло неудачно
Завершение программы

In [44]:
try:
    number = int(input("Введите число: "))
    print("Введённое число:", number)
except ValueError:
    print("Преобразование прошло неудачно")
print("Завершение программы")

Введите число: re
Преобразование прошло неудачно
Завершение программы

In [45]:
try:
    number1 = int(input("Введите число: "))
    number2 = int(input("Введите число: "))
    print("Результат деления:", number1/number2)
except ValueError:
    print("Преобразование прошло неудачно")
except ZeroDivisionError:
    print("Попытка деления на ноль")
except Exception:
    print("Общее исключение")
print("Завершение программы")

Введите число: 5
Введите число: 0
Попытка деления на ноль
Завершение программы

In [46]:
try:
    number = int(input("Введите число: "))
    print("Введённое число:", number)
except ValueError:
    print("Не удалось преобразовать число")
finally:
    print("Блок try завершил выполнение")
print("Завершение программы")

Введите число: 4
Введённое число: 4
Блок try завершил выполнение
Завершение программы

In [47]:
try:
    number = int(input("Введите число: "))
    print("Введённое число:", number)
except ValueError as e:
    print("Сведения об исключении", e)
print("Завершение программы")

Введите число: re
Сведения об исключении invalid literal for int() with base 10: 're'
Завершение программы

In [48]:
try:
    number1 = int(input("Введите число: "))
    number2 = int(input("Введите число: "))
    if number2 == 0:
        raise Exception("Второе число не должно быть равно 0")
    print("Результат деления двух чисел:", number1/number2)
except ValueError:
    print("Введены неккоректные данные")
except Exception as e:
    print(e)
print("Завершение программы")

Введите число: 5
Введите число: 0
Второе число не должно быть равно 0
Завершение программы

In [49]:
numbers = [1, 2, 3, 4, 5]
numbers1 = []
numbers2 = list()
numbers3 = list(numbers)
print(numbers[2])
print(numbers[-1])

3
5

In [50]:
numbers = [5] * 6
print(numbers)

[5, 5, 5, 5, 5, 5]

In [51]:
numbers = list(range(10))
print(numbers)
numbers = list(range(5, 15))
print(numbers)
numbers = list(range(20, 0, -2))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [52]:
objects = [1, 2.6, "Hello", True]

In [53]:
companies = ["Microsoft", "Google", "Oracle", "Apple"]
for item in companies:
    print(item)

Microsoft
Google
Oracle
Apple

In [54]:
companies = ["Microsoft", "Google", "Oracle", "Apple"]
i = 0
while i < len(companies):
    print(companies[i])
    i += 1

Microsoft
Google
Oracle
Apple

In [55]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers2 = list(range(1,10))
if numbers == numbers2:
    print("numbers equal to numbers2")
else:
    print("numbers is not equal to numbers2")

numbers equal to numbers2

In [56]:
users = ["Tom", "Bob"]
users.append("Alice")
print(users)
users.insert(1, "Bill")
print(users)
i = users.index("Tom")
removed_item = users.pop(i)
print(users)
print(removed_item)

['Tom', 'Bob', 'Alice']
['Tom', 'Bill', 'Bob', 'Alice']
['Bill', 'Bob', 'Alice']
Tom

In [57]:
last_user = users[-1]
users.remove(last_user)
print(users)

['Bill', 'Bob']

In [58]:
users.clear()
print(users)

[]

In [59]:
companies = ["Microsoft", "Google", "Oracle", "Apple"]
item = "Oracle"
if item in companies:
    companies.remove(item)
    
print(companies)

['Microsoft', 'Google', 'Apple']

In [60]:
users = ["Tom", "Bob", "Alice", "Tom", "Bill", "Tom"]
users_count = users.count("Tom")
print(users_count)

3

In [61]:
users = ["Tom", "Bob", "Alice", "Sam", "Bill"]
users.sort()
print(users)
users.reverse()
print(users)

['Alice', 'Bill', 'Bob', 'Sam', 'Tom']
['Tom', 'Sam', 'Bob', 'Bill', 'Alice']

In [62]:
users = ["Tom", "bob", "alice", "Sam", "Bill"]

users.sort()
print(users)
users.sort(key = str.lower)
print(users)

['Bill', 'Sam', 'Tom', 'alice', 'bob']
['alice', 'Bill', 'bob', 'Sam', 'Tom']

In [63]:
users = ["Tom", "bob", "alice", "Sam", "Bill"]

sorted_users = sorted(users, key = str.lower)
print(sorted_users)

['alice', 'Bill', 'bob', 'Sam', 'Tom']

In [64]:
numbers = [9, 21, 12, 1, 3, 15, 18]
print(min(numbers))
print(max(numbers))

1
21

In [65]:
users1 = ["Tom", "Bob", "Alice"]
users2 = users1
users2.append("Sam")
print(users1)
print(users2)

['Tom', 'Bob', 'Alice', 'Sam']
['Tom', 'Bob', 'Alice', 'Sam']

In [66]:
import copy

users1 = ["Tom", "Bob", "Alice"]
users2 = copy.deepcopy(users1)
users2.append("Sam")

print(users1)
print(users2)

['Tom', 'Bob', 'Alice']
['Tom', 'Bob', 'Alice', 'Sam']

In [67]:
users = ["Tom", "Bob", "Alice", "Sam", "Tim", "Bill"]

slice_users1 = users[:3]
print(slice_users1)

slice_users2 = users[3:]
print(slice_users2)

slice_users3 = users[1:3]
print(slice_users3)

slice_users4 = users[1:6:2]
print(slice_users4)

['Tom', 'Bob', 'Alice']
['Sam', 'Tim', 'Bill']
['Bob', 'Alice']
['Bob', 'Sam', 'Bill']

In [68]:
users1 = ["Tom", "Bob", "Alice"]
users2 = ["Tom", "Sam", "Tim", "Bill"]
users3 = users1 + users2
print(users3)

['Tom', 'Bob', 'Alice', 'Tom', 'Sam', 'Tim', 'Bill']

In [69]:
users = [
    ["Tom", 29],
    ["Alice", 33],
    ["Bob", 27]
]

print(users[0])
print(users[0][0])
print(users[0][1])

['Tom', 29]
Tom
29

In [70]:
users = [
    ["Tom", 29],
    ["Alice", 33],
    ["Bob", 27]
]

user = list()
user.append("Bill")
user.append(41)

users.append(user)

print(users[-1])

users[-1].append("+79876543210")
print(users[-1])
print(users)

users.pop(-1)
users[0] = ["Sam", 18]
print(users)

['Bill', 41]
['Bill', 41, '+79876543210']
[['Tom', 29], ['Alice', 33], ['Bob', 27], ['Bill', 41, '+79876543210']]
[['Sam', 18], ['Alice', 33], ['Bob', 27]]

In [71]:
users = [
    ["Tom", 29],
    ["Alice", 33],
    ["Bob", 27]
]

for user in users:
    for item in user:
        print(item, end = " | ")

Tom | 29 | Alice | 33 | Bob | 27 |

In [1]:
user = ("Tom", 23)
print(user)

('Tom', 23)

In [2]:
user = "Tom", 23
print(user)

('Tom', 23)

In [3]:
user = ("Tom",)

In [4]:
users_list = ["Tom", "Bob", "Kate"]
users_tuple = tuple(users_list)
print(users_tuple)

('Tom', 'Bob', 'Kate')

In [5]:
users = ("Tom", "Bob", "Sam", "Kate")
print(users[0])
print(users[2])
print(users[-1])

print(users[1:4])

Tom
Sam
Kate
('Bob', 'Sam', 'Kate')

In [6]:
print(users)

('Tom', 'Bob', 'Sam', 'Kate')

In [7]:
users[1] = "Tim"

TypeError: 'tuple' object does not support item assignment

In [14]:
user = ("Tom", 22, False)
user1 = ("Sam", 23, True)
name, age, isMarried = user
print(name)
print(age)
print(isMarried)

Tom
22
False

In [17]:
def get_user():
    name = "Tom"
    age = 22
    is_married = False
    return name, age, isMarried

user = get_user()
print(user)
print(len(user))
print(user[0])
print(user[1])
print(user[2])

('Tom', 22, False)
3
Tom
22
False

In [19]:
countries = (
    ("Germany", 80.2, (("Berlin", 3.326), ("Hamburg", 1.718))),
    ("France", 66, (("Paris", 2.2), ("Marsel", 1.6)))
)

for country in countries:
    countryName, countryPopulation, cities = country
    print("\nCountry: {}  population: {}".format(countryName, countryPopulation))
    for city in cities:
        cityName, cityPopulation = city
        print("City: {} population: {}".format(cityName, cityPopulation))

Country: Germany  population: 80.2
City: Berlin population: 3.326
City: Hamburg population: 1.718

Country: France  population: 66
City: Paris population: 2.2
City: Marsel population: 1.6

In [22]:
users = {1: "Tom", "2": True, 3: 100.6}
print(users)

{1: 'Tom', '2': True, 3: 100.6}

In [24]:
elements = {"Au": "Золото", "Fe": "Железо", "H": "Водород", "O": "Кислород"}

In [25]:
objects = {}
objects = dict()

In [26]:
users_list = [
    ["+111123455", "Tom"],
    ["+384767557", "Bob"],
    ["+958758767", "Alice"]
]
users_dict = dict(users_list)
print(users_dict)

{'+111123455': 'Tom', '+384767557': 'Bob', '+958758767': 'Alice'}

In [27]:
users_tuple = (
    ("+111123455", "Tom"),
    ("+384767557", "Bob"),
    ("+958758767", "Alice")
)
users_dict = dict(users_tuple)
print(users_dict)

{'+111123455': 'Tom', '+384767557': 'Bob', '+958758767': 'Alice'}

In [29]:
print(users_dict["+111123455"])

Tom

In [30]:
users_dict["+958758767"] = "Bob Smith"
print(users_dict["+958758767"])

Bob Smith

In [31]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}

print(users["+11111111"]) 

users["+33333333"] = "Bob Smith"
print(users["+33333333"])

Tom
Bob Smith

In [32]:
users["+4444444"] = "Sam"

In [34]:
user = users["+4444444"]
print(user)

Sam

In [36]:
user = users["+55555"]

KeyError: '+55555'

In [38]:
key = "+4444444"
if key in users:
    user = users[key]
    print(user)
else:
    print("Элемент не найден")

Sam

In [40]:
print(users.get(key))

Sam

In [44]:
print(users.get("+7777777", "Unknown user"))

Unknown user

In [45]:
print(users.get("+7777777"))

None

In [48]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}

# del users["+55555555"]
# print(users)

In [49]:
key = "+55555555"
if key in users:
    user = users[key]
    del users[key]
    print(user, "удалён")
else:
    print("Элемент не найден")

Alice удалён

In [54]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}
key = "+55555555"
user = users.pop(key)
print(user)

user = users.pop("+4444444", "Unknown user")
print(user)

Alice
Unknown user

In [55]:
users.clear()

In [56]:
print(users)

{}

In [58]:
users = {"+1111111": "Tom", "+3333333": "Bob", "+5555555": "Alice"}
users2 = users.copy()
print(users2)

{'+1111111': 'Tom', '+3333333': 'Bob', '+5555555': 'Alice'}

In [59]:
users = {"+1111111": "Tom", "+3333333": "Bob", "+5555555": "Alice"}
users2 = {"+2222222": "Sam","+6666666": "Kate"}
users.update(users2)
print(users)
print(users2)

{'+1111111': 'Tom', '+3333333': 'Bob', '+5555555': 'Alice', '+2222222': 'Sam', '+6666666': 'Kate'}
{'+2222222': 'Sam', '+6666666': 'Kate'}

In [60]:
users = {
    "+11111111": "Tom",
    "+33333333": "Bob",
    "+55555555": "Alice"
}
for key in users:
    print(key, " - ", users[key])

+11111111  -  Tom
+33333333  -  Bob
+55555555  -  Alice

In [61]:
for key, value in users.items():
    print(key, " - ", value)

+11111111  -  Tom
+33333333  -  Bob
+55555555  -  Alice

In [62]:
for key in users.keys():
    print(key)

+11111111
+33333333
+55555555

In [63]:
for key in users:
    print(key)

+11111111
+33333333
+55555555

In [64]:
for value in users.values():
    print(value)

Tom
Bob
Alice

In [65]:
users = {
    "Tom": {
        "phone": "+971478745",
        "email": "tom12@gmail.com"
    },
    "Bob": {
        "phone": "+876390444",
        "email": "bob@gmail.com",
        "skype": "bob123"
    }
}
old_email = users["Tom"]["email"]
users["Tom"]["email"] = "supertom@gmail.com"

print(users)

{'Tom': {'phone': '+971478745', 'email': 'supertom@gmail.com'}, 'Bob': {'phone': '+876390444', 'email': 'bob@gmail.com', 'skype': 'bob123'}}

In [66]:
key = "skype"
if key in users["Tom"]:
    print(users["Tom"]["skype"])
else:
    print("skype is not found")

skype is not found

In [67]:
users = {"Tom", "Bob", "Alice", "Tom"}
print(users)

{'Alice', 'Tom', 'Bob'}

In [68]:
users3 = set(["Mike", "Bill", "Ted"])
users = set()

In [69]:
users = {"Tom","Bob","Alice"}
print(len(users))

3

In [70]:
users = set()
users.add("Sam")
print(users)

{'Sam'}

In [71]:
users.add("Andrey")
print(users)

{'Andrey', 'Sam'}

In [72]:
users = {"Tom","Bob","Alice"}

user = "Tom"
if user in users:
    users.remove(user)
print(users)

{'Alice', 'Bob'}

In [73]:
user = "Tim"
users.discard(user)

In [74]:
print(users)

{'Alice', 'Bob'}

In [75]:
users.clear()

In [76]:
print(users)

set()

In [79]:
users = {"Tom","Bob","Alice"}

for user in users:
    print(user)

Alice
Tom
Bob

In [81]:
users = {"Tom","Bob","Alice"}
users3 = users.copy()
print(users3)

{'Alice', 'Tom', 'Bob'}

In [82]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}
users3 = users.union(users2)
print(users3)

{'Alice', 'Sam', 'Bob', 'Kate', 'Tom'}

In [83]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}

users3 = users.intersection(users2)
print(users3)

{'Bob'}

In [84]:
users = {"Tom","Bob","Alice"}
users2 = {"Sam","Kate", "Bob"}

print(users & users2)

{'Bob'}

In [85]:
print(users.difference(users2))

{'Alice', 'Tom'}

In [86]:
print(users - users2)

{'Alice', 'Tom'}

In [87]:
users = {"Tom", "Bob", "Alice"}
superusers = {"Sam", "Tom", "Bob", "Alice", "Greg"}

print(users.issubset(superusers))
print(superusers.issubset(users))

True
False

In [88]:
users = {"Tom", "Bob", "Alice"}
superusers = {"Sam", "Tom", "Bob", "Alice", "Greg"}

print(users.issuperset(superusers))
print(superusers.issuperset(users))

False
True

In [89]:
users = frozenset({"Tom", "Bob", "Alice"})
print(users)

frozenset({'Alice', 'Tom', 'Bob'})